{
  "swagger": "2.0",
  "info": {
      "title": "Open Politica API",
      "version": "0.1.0",
      "description": "API para obtener información de los candidatos a elecciones de Perú. Fecha de actualización: N/A",
      "license": {
        "name":"Apache 2.0",
        "url":"https://spdx.org/licenses/Apache-2.0.html"
      },
      "contact": {
        "name":"OpenPolitica",
        "url":"https://openpolitica.com",
        "email":"hola@openpolitica.com"
      }
  },
  "host": "tip.magiqapps.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/candidates": {
      "get": {
        "summary": "Returns a list of candidates.",
        "description": "Returns a list of candidates. Accepts 'page' and 'limit' as query parameters",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number in integer",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of entries to return",
            "schema": {
              "type": "integer"
            },
            "required": false
          }          
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}